<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[LMF_HANGZHOU_SHIMINKA]-[%p]-[%c]-[%d{yyyy MM dd HH:mm:ss:SSS}]-[%l]-[%m]%n" />
        </layout>
    </appender>
    
    <!--
    <appender name="ALL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="all.log" />
        <param name="Append" value="true" />
        <param name="datePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[BTFY]-[%p]-[%c]-[%d{yyyy MM dd HH:mm:ss:SSS}]-[%l]-[%m]%n" />
        </layout>
    </appender>

    <appender name="logic" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="xmcs03.log" />
        <param name="Append" value="true" />
        <param name="datePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[BTFY]-[%p]-[%c]-[%d{yyyy MM dd HH:mm:ss:SSS}]-[%l]-[%m]%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <logger name="com.xmcs03">
        <level value="INFO" />
        <appender-ref ref="logic" />
    </logger>
    -->

    <root>
        <priority value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>
</log4j:configuration>